# Ativar o uso do .htaccess
RewriteEngine On

# Redirecionar de HTTP para HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirecionar para página de erro 404 personalizada
ErrorDocument 404 /erro404.html

# Bloquear o acesso direto a arquivos .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Bloquear listagem de diretórios
Options -Indexes
